section{
  margin-top: 3%;
  margin-bottom: 3%;
} 
body {
  margin: 0px;
  padding: 0px;
  color: white !important;
  background-color: black !important;
}
/*home*/
.home{
  background: url('https://wallpaperaccess.com/full/1343890.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.heading-homepage{
  font-weight: bolder;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #A82C48;
  --secondry-color: #43121d;
  --third-color: #F85438;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: rgb(14, 13, 13);
  --primary-font: 'Roboto', sans-serif;
  --secondry-font: 'Quicksand', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.about {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  color: var(--white-color);
  line-height: 3rem;
}
.para{
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}
.paraga{
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 0.7px;
}
.main-btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: var(--third-color);
  border: 0.1875rem solid var(--third-color);
  color: var(--white-color);
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
  -webkit-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}
.tag{
  color: white;
}
.counter-section {
  padding: 2.5rem 0;
}

.bgc{
  background-color: var(--black-color);
 }
.types {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.counter-section p {
  color: var(--white-color);
  text-transform: uppercase;
}
.count {
  color: var(--third-color);
}
.img_item {
  width: 300px;
}
.img_container {
  overflow: scroll;
  white-space: nowrap;
}
.image1 {
  position: relative;
  top: 25%;
}
.image2 {
  position: relative;
  bottom: 20%;
}
.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #F85438 !important;
  outline: none;
}
.main-btn-footer {
  display: inline-block;
  padding: 0.325rem 1.875rem;
  background-color: var(--third-color);
  border: 0.1875rem solid var(--third-color);
  color: var(--white-color);
  font-size: 0.9375rem;
  font-weight: 600;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
}
.sroll {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.slidecontainer {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}
.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.footer{
  background: url('https://chetv.b-cdn.net/wp-content/uploads/2018/08/Jaisalmer-fort-at-night.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}
.footer-li{
  color: rgb(240 248 255 / 69%);
}
.footer li{
  list-style-type:none;
  }
  /*blog*/
  .blog{
    background-color: #0A0A0A;
  }
@media (max-width: 480px) {
  .slidecontainer {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
  .home-size{
    min-height: 618px;
  }
}
@media screen and (max-device-width: 991px) {
  .image1 {
    position: relative;
    top: 0%;
  }
  .image2 {
    position: relative;
    bottom: 0%;

  }
 
}